<%- include('partials/_header') %>
<section class="header2">
    <%- include('partials/_navbar') %>
<i class="fa fa-bars" onclick="show()"></i>
<div class="text-box">
    <h1>About US</h1>
    <h2>Our  opening times Monday to Sunday: 9:00 AM - 7:00 PM April-October </h2>
    <h3>Summer Time Only</h3>
</div>
</section>

<section class="about-section">

    <div class="about-header">

        <h1>Our Vision, Mission & Purpose</h1>

    </div>

    <table class="about-table">

        <thead>

            <tr>

                <th>Aspect</th>

                <th>Description</th>

            </tr>

        </thead>

        <tbody>
            
            <tr>

                <td data-label="Aspect">Vision</td>

                <td data-label="Description"><%- aboutData.vision %>

                </td>

            </tr>

            <tr>

                <td data-label="Aspect">Mission</td>

                <td data-label="Description"><%- aboutData.mission %></td>

            </tr>

            <tr>

                <td data-label="Aspect">History</td>

                <td data-label="Description"><%- aboutData.history %></td>

            </tr>
            <tr>

                <td data-label="Aspect">Summary</td>

                <td data-label="Description"><%- aboutData.summary %></td>

            </tr>

            <tr>

                <td data-label="Aspect">Open Time</td>

                <td data-label="Description"><span>Monday to Friday:</span> 9:00 AM - 6:00 PM</td>

            </tr>

            <tr>

                <td data-label="Aspect">Close Time</td>

                <td data-label="Description"><span>Saturday & Sunday:</span> Closed</td>

            </tr>

        </tbody>

    </table>

</section>

<%- include('partials/_footer') %>




