<%- include('partials/_header') %>

    <section class="header2">
        <%- include('partials/_navbar') %>
   
    <div class="text-box">
        <h1>Our weekly Events Coming Up</h1>
        <h2>Our  opening times Monday to Sunday: 9:00 AM - 7:00 PM April-October </h2>
        <h3>Summer Time Only</h3>
    </div>
    </section>

       <section class="pictures">
        <h1>What's going on in Camelot Park</h1>
        <p>Check it up pictures of our  recently and futher events in Camelot</p>
        <div class="row">
            <% eventData.forEach(event => { %>
                
              
                <div class="col events">
                    <img src="<%= event.image_url %>" alt="<%= event.alt %>">
                    <div class="layer">
                        <h3><%= event.title %></h3>
                    </div>   
                </div>
            <% }); %>
            
        </div>

    </section>

    <section class="pictures events-details">
        <div class="row">
            <% eventData.forEach(event => { %>
                <div class="col">
                    <div class="details">
                        <h3><%= event.title %></h3>
                        <p><%= event.description %></p>
                       
                               
                            
                        
                    </div>   
                </div>
            <% }); %>
            
        </div>

    </section>
    <%- include('partials/_footer') %>

    

    